# Python
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/
*.code-workspace

# Virtual Environment
venv/
ENV/

# Data files
data/*.csv
output/*.csv

# Jupyter Notebook
.ipynb_checkpoints

# OS specific
.DS_Store
Thumbs.db